<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <label for="button">Para ir al formulario</label>
    <a href="user/register">Click Aquí</a>
  </body>
</html>
