<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>

<body style="background-color: <%= locals.bgColor ? bgColor : null%>;">
    <h1> <%= locals.userName ? userName : null %>, gracias por visitarnos</h1>
    <div>
        <h2>Queres volver al registro? <a href="/user/register">Click aquí</a></h2>
    </div>
</body>

</html>